<br>
<br>
<br>
<div class="form-group" >
    <select class="form-control">
      <option [value]="0" selected>add subject</option>
      <option *ngFor="let subject of subjects" [value]="subject.id" (click) = "add(subject)"> 
        {{subject.name}}
      </option>
    </select>
  </div>

<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                        aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="user name: activate to sort column descending"
                                    style="width: 182px;">id</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="name: activate to sort column ascending" style="width: 225px;">
                                    name</th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="even" *ngFor="let subject of userSubjects">
                                <td class="sorting_1">{{subject.id}}</td>
                                <td>{{subject.name}}</td>
                                
                                <td>
                                    <button class="danger" (click)="remove(subject.name)">Delete</button>
                                </td>
                                
                            </tr>
                        </tbody>
                        <tfoot>
                           
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-success" (click)="save()">Save</button>
    </div>
    <!-- /.box-body -->
</div>