
<br><br>
<br><br>


<div class="register-box">    
    <div class="register-box-body">
      <p class="login-box-msg">Add Stage</p>
  
      <form #catForm="ngForm" (ngSubmit)="addStage()">
        <div class="form-group has-feedback">
          <input class="form-control" placeholder="satge name" type="text" name="name" [(ngModel)]="stage.name"
          required #name="ngModel">         
        </div>

        <div class="row">         
          <!-- /.col -->
          <div class="col-xs-4 col-md-6">
            <button class="btn btn-primary btn-block btn-flat" type="submit">Add</button>
          </div>
          <!-- /.col -->
        </div>
      </form>    
    </div>
    <!-- /.form-box -->
  </div>
  <!-- /.register-box -->
  